[submodule "courses/基础课程/计算机导论"]
	path = courses/基础课程/计算机导论
	url = git@github.com:edu2act/course-computerIntroduction.git
[submodule "courses/HTML5与移动互联网开发/混合应用开发"]
	path = courses/HTML5与移动互联网开发/混合应用开发
	url = git@github.com:edu2act/course-hybrid-app-development.git
[submodule "courses/Java与移动智能设备开发方向/JavaEE企业级开发"]
	path = courses/Java与移动智能设备开发方向/JavaEE企业级开发
	url = git@github.com:edu2act/course-JavaEE.git
[submodule "courses/Java与大数据分析/JavaEE企业级开发"]
	path = courses/Java与大数据分析/JavaEE企业级开发
	url = git@github.com:edu2act/course-JavaEE.git
[submodule "courses/Java与移动智能设备开发方向/Android基础编程"]
	path = courses/Java与移动智能设备开发方向/Android基础编程
	url = git@github.com:edu2act/course-android.git
[submodule "courses/基础课程/WEB开发（二）"]
	path = courses/基础课程/WEB开发（二）
	url = git@github.com:edu2act/course-web2.git
[submodule "courses/Java与大数据分析/Spring框架介绍及应用"]
	path = courses/Java与大数据分析/Spring框架介绍及应用
	url = git@github.com:edu2act/course-spring.git
[submodule "courses/Python与机器学习/聚类算法"]
	path = courses/Python与机器学习/聚类算法
	url = git@github.com:edu2act/course-cluster.git
[submodule "courses/Java与大数据分析/Hibernate框架开发"]
	path = courses/Java与大数据分析/Hibernate框架开发
	url = git@github.com:edu2act/course-hibernate.git
[submodule "courses/HTML5与移动互联网开发/Node.js应用开发"]
	path = courses/HTML5与移动互联网开发/Node.js应用开发
	url = git@github.com:edu2act/course-nodejs.git
[submodule "courses/Python与机器学习/TensorFlow基础教程"]
	path = courses/Python与机器学习/TensorFlow基础教程
	url = git@github.com:edu2act/course-tensorflow.git
[submodule "courses/Python与机器学习/分类算法"]
	path = courses/Python与机器学习/分类算法
	url = git@github.com:edu2act/course-classification.git
[submodule "courses/基础课程/数据结构"]
	path = courses/基础课程/数据结构
	url = git@github.com:edu2act/course-datastructure.git
[submodule "courses/基础课程/Java面向对象程序设计"]
	path = courses/基础课程/Java面向对象程序设计
	url = git@github.com:edu2act/course-JavaSE.git
