[submodule "courses/基础课程/计算机导论"]
	path = courses/基础课程/计算机导论
	url = git@github.com:edu2act/course-computerIntroduction.git
[submodule "courses/HTML5与移动互联网开发/混合应用开发"]
	path = courses/HTML5与移动互联网开发/混合应用开发
	url = git@github.com:edu2act/course-hybrid-app-development.git
[submodule "courses/Java与移动智能设备开发方向/JavaEE企业级开发"]
	path = courses/Java与移动智能设备开发方向/JavaEE企业级开发
	url = git@github.com:edu2act/course-JavaEE.git
[submodule "courses/Java与大数据分析/JavaEE企业级开发"]
	path = courses/Java与大数据分析/JavaEE企业级开发
	url = git@github.com:edu2act/course-JavaEE.git
[submodule "courses/Java与移动智能设备开发方向/Android基础编程"]
	path = courses/Java与移动智能设备开发方向/Android基础编程
	url = git@github.com:edu2act/course-android.git
